<style>
	div { width: 256px; height: 192px; display: block; background-color:green; }
	img { width: 200px; height: 94px; background-color: blue; }
	table { border-style:solid; background-color: red; }
</style>
